.screen{
    display: flex;
}

.login-form{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-form .custom-mui-textfield,
.login-form .custom-mui-dropdown{
    margin-bottom: 10px;
}

@media (max-width:859px) {
    .screen{
        display: block;
    }
    .status{
        flex-direction: row;
        flex-wrap: wrap;
        height: initial;
        width: 90vmin;
        margin:0  auto;
    }
}


.scoreBoard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 95vh;
}