.screen{
    display: flex;
}

.login-form{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login-form .custom-mui-textfield,
.login-form .custom-mui-dropdown{
    margin-bottom: 10px;
}

@media (max-width:859px) {
    .screen{
        display: block;
    }
    .status{
        flex-direction: row;
        flex-wrap: wrap;
        height: initial;
        width: 90vmin;
        margin:0  auto;
    }
}


.scoreBoard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 95vh;
}

.gameWon{
    height: 300px;
    opacity: 0;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #1976d25f;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 23px;
    text-align: center;
    backdrop-filter: blur(3px);
}

.gameWon div {
    text-align: center;
}

.reveal {
    opacity: 1;
}