.card {
    border: 1px solid black;
    border-radius: 6px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    transition: transform 300ms ease-in;
    transition: all 150ms ease-in;
    position: relative;
    font-size: 100px;
    cursor: pointer;
}

.card.hideQM {
    color: transparent;
}

.card:hover {
    border: 3px solid black;
    box-shadow: inset 0 0 5px 2px rgb(219, 219, 219) ;
}

.card.flip {
    transform: rotateY(180deg);
}