@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
body {
  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.placeholder {
  border: 2px solid gold;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius:12px;
}

.status {
  color: gold;
}

.game{
  height: 600px;
  display: grid;
  gap: 10px;
  max-width: 90vmin; /*This is good practice*/
  height: 90vh;
  margin: 10px auto;
}

.game.Level_2 {
  
  grid-template-columns: repeat(2,1fr);
}
.game.Level_4{
  
  grid-template-columns: repeat(4,1fr);
}
.game.Level_6 {
  
  grid-template-columns: repeat(6,1fr);
}

