@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
body {
  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.common {
  border: 2px solid #1976d2;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-radius:12px;
}

.status {
  color: #111;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  height: 90vh;
  margin: 10px;
  width: 26vmin;
}

.status div {
  padding: 10px;
}

.game{
  height: 600px;
  display: grid;
  gap: 10px;
  max-width: 90vmin; /*This is good practice*/
  height: 90vh;
  margin: 10px auto;
}

.game.Level_2 {
  
  grid-template-columns: repeat(2,1fr);
}
.game.Level_4{
  
  grid-template-columns: repeat(4,1fr);
}
.game.Level_6 {
  
  grid-template-columns: repeat(6,1fr);
}

.login-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 5rem;
  border-radius: 12px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5d9ad75d;
}

.custom-mui-dropdown{
  width: 223px;
  
}

.custom-mui-container {
  width: 250px;
    background: #ffffffc4;
    padding: 1.5rem;
    margin: 0 auto;
    border-radius: 10px;
    backdrop-filter: blur(4px);
}

.image{
  width: 82%;
  height: 100%;
  position: absolute;
  top: 7%;
  left: 41%;
  transform: scale(1.2) rotateZ(-15deg);
  background-image: url(./images/gameScene.png);
  background-repeat: no-repeat;
  border-radius: 23px;
  opacity: 0.5;
}